@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior:smooth ;



}



body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
   

}

h1,
h2,
h3
{

    font-family: "Saira", sans-serif;
}


header {
    height: 80px;
}

header .navbar {
    background-color: #dad7d7;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    padding: 1.5rem 2rem;

}
header .navbar nav {
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;

#home .navbar #logo{ 
color: aqua;
}


}
header .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar nav ul a {
    margin: 0 35px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;  
    transition: 0.3s ease;
}

header .navbar nav ul a:hover {
    color: white;
}

.content {
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.content .content-text {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-text .test h1 {
    color:black;
    background-color: #dad7d7;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content-text .test .first-p {
    color:black;
    line-height: 30px;
}

.content .content-text .img1 {

    height: 100%;
    width: 50%;

}

.content-text .text p {
    width: 300px;
}

content-text img {
    width: 250px;
    height: 250px;

}
.parent-roblox  {
    height: 900px;
    width: 100%;
    background-color: #dad7d7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      padding: 10px;
  
}

.parent-roblox .col1 {
    margin-top: 100px;
    height: 80%;
    width: 45%;
    padding: 50px 30px 30px;

}

 .col1-text h3 {
    color:black;
    background-color: rgba(255, 255, 255, 0.717);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 15px;
}

 .col1 .col1-text p {

    color:black;
    line-height: 40px;
    height: 100%;
    font-size: 18px;
}


.col1 .col1-text p a {

    color: red;
}


.parent-roblox .col2 col2-text {
    height: 100%;
    width: 40%;
    padding: 30px;
    margin: 10px; 
    border: 1px solid black;
    padding: 10px;
    margin-top: 60px;;
}

.resourses {
display: flex;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      padding: 10px;
}

.resourses .col3 {
    height: 100%;
    width: 40%;
    border: 1px solid black;
    padding: 30px;
    margin: 10px;

}
.resourses .col4 {
    height: 100%;
    width: 40%;
    border: 1px solid black;
    padding: 30px;
    margin: 10px;

}